<form [formGroup]="form">
  <mat-form-field [appearance]="appearance" class="w-full">
    <mat-label>{{lable}}</mat-label>
    <input matInput [placeholder]="placeholder" [type]="hide ? 'password' : 'text'" [formControlName]="formName"
      [required]="true">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-icon matPrefix *ngIf="icon != ''" class="hidden sm:flex icon-size-5 ml-2" [svgIcon]="icon"></mat-icon>
    <mat-error *ngIf="formGroup.get(formNames).hasError('required')">
      Password is required
    </mat-error>
    <mat-error
      *ngIf="!formGroup.get(formNames).hasError('required') && (!form.get(formName).errors?.hasNumber || !form.get(formName).errors?.hasUpper || !form.get(formName).errors?.hasLower || !form.get(formName).errors?.minLen)"
      class="passeErr">
      Please enter at least <p></p>
      <span *ngIf="!form.get(formName).errors?.minLen">*8 character</span>
      <span *ngIf="!form.get(formName).errors?.hasNumber"> *number</span>
      <span *ngIf="!form.get(formName).errors?.hasUpper"> *UPPERCASE letter</span>
      <span *ngIf="!form.get(formName).errors?.hasLower"> *lowercase letter</span>



    </mat-error>
  </mat-form-field>
</form>